@use "sass:math";

@mixin articleBody() {
  padding-top: rem(140);
  padding-bottom: rem(218);

  @media (max-width: $pc) {
    padding-top: rem(60);
    padding-bottom: rem(80);
  }

  @media (max-width: $mobile) {
    padding-top: rem(40);
    padding-bottom: rem(60);
  }
}

.article-body {
  overflow: hidden;
}

.article-body__container {
  display: flex;
  justify-content: space-between;

  @media (max-width: $pc) {
    flex-direction: column;
  }
}

.article-body__content {
  width: 100%;
  max-width: rem($col3 + $colGap);
  @include articleBody();
}

.article-body__content h3 {
  @include h3();
  color: $grayDark;

  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 30, 14);
  }
}

.article-body__content p {
  @include text();
  color: $gray;

  & + p {
    @include adaptiveValue("margin-top", 24, 8);
  }
}

.article-body__content p + h2,
.article-body__content p + h3,
.article-body__content p + h4,
.article-body__content p + h5,
.article-body__content p + h6 {
  @include adaptiveValue("margin-top", 60, 28);
}

.article-body__sidebar {
  position: relative;
  @include articleBody();
  padding-left: rem($colGap);

  @media (max-width: $pc) {
    padding-left: unset;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + ((100vw - rem($maxWidthContainer)) / 2));
    height: 100%;
    background-color: $grayLight;
    z-index: -1;

    @media (max-width: $pc) {
      display: none;
    }
  }
}
