.interesting__title {
  @include h3();
  @include adaptiveValue("margin-bottom", 60, 28);
}

.interesting__list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  @include adaptiveValue("gap", 60, 20);
  width: rem($col2);

  @media (max-width: $pc) {
    grid-template-columns: repeat(auto-fill, minmax(rem($col2), 1fr));
    width: 100%;
  }

  @media (max-width: $mobileSmall) {
    grid-template-columns: 1fr;
  }
}

.interesting__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.interesting__picture {
  position: relative;
  display: flex;
  width: 100%;
  height: rem(350);

  @media (max-width: $mobileSmall) {
    height: rem(280);
  }
}

.interesting__date {
  position: absolute;
  bottom: rem(20);
  right: rem(38);
  color: $white;
}

.interesting__image {
  width: 100%;
  object-fit: cover;
}

.interesting__caption {
  @include titles15();
  color: $blueMain;

  &:not(:first-child) {
    margin-top: rem(25);
  }
}

.interesting__description {
  @include text();
  color: $grayDark;

  &:not(:empty) {
    margin-top: rem(15);
  }
}

.interesting__link {
  margin-top: rem(25);
  padding-bottom: rem(2);
  @include link();
  color: $blueMain;
  border-bottom: 1px solid currentColor;
  transition: border-bottom-color .3s;

  &:hover {
    border-color: transparent;
  }
}
