.field {
  position: relative;
  display: inline-flex;
  flex-direction: column-reverse;
  width: 100%;
  @include field();
  color: $gray;
}

.field--white {
  color: $white;
}

.field--dark {
  color: $grayDark;
}

.field__input,
.field__textarea {
  width: 100%;
  background: transparent;
  @include field();
  color: $gray;
  text-transform: none;
  outline: none;
}

.field--white .field__input,
.field--white .field__textarea {
  color: $white;
}

.field--dark .field__input,
.field--dark .field__textarea {
  color: $grayDark;
}

.field__input {
  padding: rem(15) 0 rem(12);
  border-bottom: rem(1) solid rgba($gray, .5);
}

.field__textarea {
  height: rem(274);
  padding: rem(12);
  border: rem(1) solid rgba($gray, .5);
  resize: none;
}

.field--white .field__input,
.field--white .field__textarea {
  border-color: $white;
}

.field--dark .field__input,
.field--dark .field__textarea {
  border-color: rgba($grayDark, .5);
}

.field__label--inside {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: top .3s;
}

.field__input:focus,
.field__input:not(:placeholder-shown),
.field__input:-webkit-autofill {
  & ~ .field__label--inside {
    top: 0;
  }
}

.field__label--outside {
  padding: rem(15) 0 rem(12);
}
