.sidebar-page {
  padding-bottom: rem(100);
}

.sidebar-page__container {
  display: grid;
  grid-template-columns: 30% 65%;
  grid-gap: 5%;
  padding-top: rem(30);

  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }
}

.sidebar-page__caption {
  @include h2();
}
