.info-item--full {
  grid-column: span 2;

  @media (max-width: $mobile) {
    grid-column: span 1;
  }
}

.info-item__picture {
  position: relative;
  display: flex;
  width: 100%;
  height: rem(270);
  overflow: hidden;
}

.info-item--full .info-item__picture {
  height: rem(585);

  @media (max-width: $mobile) {
    height: rem(270);
  }
  picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.info-item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-item__information {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: rem(10);
  font-weight: 500;
  font-size: rem(13);
  line-height: 1.5;
  color: #9A9A9A;
}

.info-item__date:not(:first-child) {
  margin-left: rem(20);
}

.info-item__views {
  display: inline-flex;
}

.info-item__eye {
  min-width: 22px;
  width: 22px;
  height: 16px;
  margin-right: rem(10);
}

.info-item__caption {
  display: inline-flex;
  margin-top: rem(10);
  @include titles15();
  color: $blueMain;
}

.info-item__description {
  display: block;
  @include text();
  color: $grayDark;

  &:not(:empty) {
    margin-top: rem(15);
  }

  h1 {
    @include h1();
  }

  h2 {
    @include h2();
  }

  h3 {
    @include h3();
  }

  h4 {
    @include h4();
  }

  p + p {
    margin-top: rem(15);
  }

  p + h2,
  p + h3,
  p + h4,
  p + h5,
  p + h6 {
    @include adaptiveValue("margin-top", 60, 28);
    @include adaptiveValue("margin-bottom", 30, 14);
  }
}

.info-item__link {
  display: inline-block;
  margin-top: rem(10);
  padding-bottom: rem(2);
  @include link();
  color: $blueMain;
  border-bottom: rem(1) solid currentColor;
  transition: border-bottom-color .3s;

  &:hover {
    border-color: transparent;
  }
}

.info-item__share,
.info-item__badge,
.info-item__back {
  margin-top: rem(30);
}

.ya-share2__container {
  padding: 0;
}
