:root {
  @include adaptiveValue("--partnersgrid", 240, 130);
}

// Заголовки, общие БЄМ блоки и проче...
[hidden] {
  display: none !important;
}


.rectangle {

  &_btn {
    min-width: rem(180);
    text-transform: uppercase;
    font-weight: 600;
    font-size: rem(12);
    line-height: 2;
    padding: rem(12);
    display: inline-flex;
    justify-content:center;align-items: center;
  }
}
.page {
  padding-top: rem(145);
  @media (max-width:$mobile){
    padding-top: rem(66);
  }
  &.page__home,
  &.computer
  &.page__computer {
    padding-top: rem(0);
  }
}
.bigimage {
  img {
    width: 100%;
  }
}


.sectiontitle {
  font-weight: 700;
  color:#000;
  @include adaptiveValue("font-size", 32, 23);
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 85, 28);
  }
}
.sectionlabel {
  color: #636363;
  font-weight: 500;
}

[data-lg-id] {
  display: block;
  position: relative;
  &::before{
    content:'';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../img/icons/gallery_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease 0s;
    z-index: 2;
  }
  @media (any-hover: hover){
    &:hover{
      &::before{
        opacity: 1;
      }
    }
  }
}


._form-error {
  input {
    transition: all 0.3s ease 0s;
    border-color: red !important;
    color: red !important;
    &::placeholder {
      color: red !important;
    }
  }
  label {
    transition: all 0.3s ease 0s;
    color: red !important;
    &::before,
    &::after{
      border-color: red !important;
    }
  }
}

.form__error {
  color: red;
  padding: rem(5);
  border: rem(2) solid red;
}

//========================================================================================================================================================

.blueButtonPopup,
.reviewsPopup {

  &__head {
    &:not(:last-child) {margin-bottom: rem(30);}
  }

  &_hidden {
  }

  &__wrapper {
  }

  &__content {
    border-radius: 0;
    background-color: #fff;
  }

  &__close {
    display: block;
    margin-left: auto;
    &:not(:last-child) {margin-bottom: rem(25);}
  }

  &__text {
  }
  
  .footer {

    &__title {
    }
  }
  .callback-footer {

    &__title {
    }

    &__body {
    }

    &__row {
    }

    &__input {
      border-color: #C4C4C4;
      color: $mainColor;
    }

    &__textarea {
      width: 100%;
      min-height: rem(100);
      border: rem(1) solid #C4C4C4;
      color: $mainColor;
      padding: rem(13);
      resize: vertical;
      &::placeholder {
        font-weight: 700;
        text-transform: uppercase;
        font-size: rem(11);
      }
    }

    &__label {
    }

    &__checkbox {
    }

    &__agree {
      &::before,
      &::after{
        border-color: $mainColor;
      }
    }

    &__link {
    }

    &__submit {
      border-color: $mainColor;
      transition: all 0.3s ease 0s;
      @media (any-hover: hover){
        &:hover{
          background-color: $mainColor;
          color: #fff;
        }
      }
    }
  }
}
//========================================================================================================================================================

.swiper-button-prev,
.swiper-button-next {
  cursor: pointer;
}

.swiper-button-disabled {
  cursor: default;
  svg path {
    fill: #C4C4C4;
  }
}


.seall {
  text-decoration: underline !important;
  text-transform: uppercase;
  font-size: rem(12);
  @media (any-hover: hover){
    &:hover{
      text-decoration: none !important;
    }
  }
}


.sidebar {

  &__menu {
    &:not(:last-child) {margin-bottom: rem(100);}
  }

  &__interesting {
  }

  &__bottom {
    display: grid;
    @include adaptiveValue("gap", 100, 30);
    .page__career & {
      gap: rem(30);
    }
  }
}
.menu-sidebar {

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
  }

  &__title {
    @media (min-width:$tablet){
      display: none;
    }
    display: block;
    padding: rem(18.5);
    @include adaptiveValue("padding-left", 31, 18.5);
    border: rem(1) solid #EBEBEB;
    transition: all 0.3s ease 0s;
    width: 100%;
    text-align-last: left;
    font-weight: 600;
    &._spoller-active {
      color: #fff;
      background-color: $mainColor;
    }
  }

  &__link {
    display: block;
    padding: rem(18.5);
    @include adaptiveValue("padding-left", 31, 18.5);
    border: rem(1) solid #EBEBEB;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover{
        color: #fff;
        background-color: $blue;
      }
    }
    &:not(:last-child) {
      border-bottom: 0;
    }
    &_active {
      color: #fff;
      background-color: $blue;
      font-weight: 500;
    }
  }
}


.breadcumps {

  &__container {
    @include adaptiveValue("padding-top", 55, 30);
  }

  &__body {
    display: flex;
    align-items: center;
    color: #BCBEC0;
    font-size: rem(13);
    gap: rem(2);
    @media (any-hover: none){
      &:hover{
        overflow-x: auto;
        overflow-y: hidden;
      }
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: rem(2);
    &:not(:last-child) {
      &::after{
        content:'';
        flex: 0 0 rem(16);
        width: rem(16);
        height: rem(16);
        display: block;
        background-image: url(../img/icons/breadcumps_arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
.item-breadcumps {

  &__link {
    white-space: nowrap;
    transition: color 0.3s ease 0s;
    display: flex;
    align-items: center;
    gap: rem(2);
    @media (any-hover: hover){
      &:hover{
        color: $mainColor;
      }
    }

    &_drop {
      span {
        display: inline-block;
        border-top: rem(4) solid #BCBEC0;
        border-left: rem(4) solid transparent;
        border-right: rem(4) solid transparent;
        transform: translateY(rem(2));
        @media (max-width:$mobile){
          display: none;
        }
      }
      @media (any-hover: hover){
        &:hover{
          &+.item-breadcumps__dropdown {
            opacity: 1;
            pointer-events: all;
          }
        }
      }
    }
  }

  &__dropdown {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: opacity 0.3s ease 0s;
    top: calc(100% - rem(8));
    max-width: max-content;
    left: 0;
    padding-top: rem(8);
    @media (any-hover: hover){
      &:hover{
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__list {
    background-color: #fff;
    padding: rem(7);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }

  &__item {
    a {
      transition: color 0.3s ease 0s;
      display: inline-block;
      white-space: nowrap;
      padding: rem(7);
      @media (any-hover: hover){
        &:hover{
          color: $mainColor;
        }
      }
    }
  }
}


//========================================================================================================================================================

.interesting {

  &__list {
    display: flex;
    align-items: start;
    @include adaptiveValue("gap", 60, 20);
    @media (max-width:$mobile){
      flex-wrap: wrap;
    }
  }

  &__item {
    @extend .interesting
  }

  &__picture {
  }

  &__image {
  }

  &__date {
  }

  &__caption {
  }

  &__description {
  }

  &__link {
  }
}

.partners-page {

  &__title {
    &:not(:last-child) {margin-bottom: rem(30) !important;}
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--partnersgrid));
    grid-auto-rows: rem(120);
    @include adaptiveValue("gap", 30, 15);
    justify-content: center;
  }

  &__item {
    display: flex;
    justify-content:center;align-items: center;
    img {
      max-width: rem(118);
    }
  }
}
