// Заголовки, общие БЄМ блоки и проче...
[hidden] {
  display: none !important;
}


.rectangle {

  &_btn {
    min-width: rem(180);
    text-transform: uppercase;
    font-weight: 600;
    font-size: rem(12);
    line-height: 2;
    padding: rem(12);
    display: inline-flex;
    justify-content:center;align-items: center;
  }
}
.page {
  padding-top: rem(145);
  @media (max-width:$mobile){
    padding-top: rem(66);
  }
  &.page__home,
  &.computer {
    padding-top: rem(0);
  }
}
.bigimage {
  img {
    width: 100%;
  }
}


.sectiontitle {
  font-weight: 700;
  color:#000;
  @include adaptiveValue("font-size", 32, 28);
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 85, 28);
  }
}
.sectionlabel {
  color: #636363;
  font-weight: 500;
}

[data-lg-id] {
  display: block;
  position: relative;
  &::before{
    content:'';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../img/icons/gallery_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease 0s;
    z-index: 2;
  }
  @media (any-hover: hover){
    &:hover{
      &::before{
        opacity: 1;
      }
    }
  }
}


._form-error {
  input {
    transition: all 0.3s ease 0s;
    border-color: red !important;
    color: red !important;
    &::placeholder {
      color: red !important;
    }
  }
  label {
    transition: all 0.3s ease 0s;
    color: red !important;
    &::before,
    &::after{
      border-color: red !important;
    }
  }
}

//========================================================================================================================================================

.blueButtonPopup {

  &_hidden {
  }

  &__wrapper {
  }

  &__content {
    border-radius: 0;
    background-color: #fff;
  }

  &__close {
    display: block;
    margin-left: auto;
    &:not(:last-child) {margin-bottom: rem(25);}
  }

  &__text {
  }
  
  .footer {

    &__title {
    }
  }
  .callback-footer {

    &__title {
    }

    &__body {
    }

    &__row {
    }

    &__input {
      border-color: #C4C4C4;
      color: $mainColor;
    }

    &__textarea {
      width: 100%;
      min-height: rem(100);
      border: rem(1) solid #C4C4C4;
      color: $mainColor;
      padding: rem(13);
      resize: vertical;
      &::placeholder {
        font-weight: 700;
        text-transform: uppercase;
        font-size: rem(11);
      }
    }

    &__label {
    }

    &__checkbox {
    }

    &__agree {
      &::before,
      &::after{
        border-color: $mainColor;
      }
    }

    &__link {
    }

    &__submit {
      border-color: $mainColor;
      transition: all 0.3s ease 0s;
      @media (any-hover: hover){
        &:hover{
          background-color: $mainColor;
          color: #fff;
        }
      }
    }
  }
}
//========================================================================================================================================================

.swiper-button-prev,
.swiper-button-next {
  cursor: pointer;
}

.swiper-button-disabled {
  cursor: default;
  svg path {
    fill: #C4C4C4;
  }
}


.seall {
  text-decoration: underline !important;
  text-transform: uppercase;
  font-size: rem(12);
  @media (any-hover: hover){
    &:hover{
      text-decoration: none !important;
    }
  }
}