:root {
  @include adaptiveValue("--tabwidth", 150, 75);
}

//====================================================================================================
.hero {
  min-height: 100vh;
  background-image: url(../img/home/hero_bg.png);
  background-position: top right;
  background-size: auto 100%;
  display: flex;

  &__wrapper {
    flex: 1 1 auto;
    background: linear-gradient(90deg, #1C1C1C 78.46%, rgba(28, 28, 28, 0) 79.57%);
    background-size: rem(1407);
    background-repeat: no-repeat;
    position: relative;
    padding-top: rem(100);
    padding-bottom: rem(50);
  }

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    color: #fff;
  }

  &__body {
    max-width: rem(660);
    display: flex;
    flex-direction: column;
    gap: rem(30);
  }

  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 48, 16);
  }

  &__list {
    padding-bottom: rem(11);
    line-height: 1.9;
    padding-left: rem(18);
  }

  &__item {
    list-style: square;
  }

  &__btns {
    display: flex;
    gap: rem(20);
    @media (max-width:$mobileSmall){
      flex-wrap: wrap;
    }
  }

  &__button {
    border: rem(1) solid #fff;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover{
        background-color: $darkBlue;
        border-color: $darkBlue;
      }
    }

    &_blue {
      background-color: $blue;
      border-color: $blue;
    }
  }
  &__goto {
    position: absolute;
    bottom: percent(39,840);
    left: percent(28,1920);
    color: #fff;
    display: flex;
    align-items: center;
    gap: rem(12);
    font-size: rem(14);
    transition: all 0.3s ease 0s;
    opacity: 0.5;
    @media (min-width:$mobile){
      transform-origin: left center;
      transform: rotate(-90deg);
      animation: bounce 1s linear infinite;
    }
    img {
      transform: rotate(90deg);
      max-width: rem(24);
    }
    @media (any-hover: hover){
      &:hover{
        animation: none;
        opacity: 1;
      }
    }
    @media (max-width:$pc){
      left: 50%;
      animation: bounceMd1 1s linear infinite;
    }
  }
}

//====================================================================================================


@keyframes bounce {
  from,
  20%,
  53%,
  to {
    transform: translate3d(0, 0, 0) rotate(-90deg);
  }

  40%,
  43% {
    transform: translate3d(0, -30px, 0) rotate(-90deg);
  }

  70% {
    transform: translate3d(0, -15px, 0)  rotate(-90deg);
  }

  80% {
    transform: translate3d(0, 0, 0)  rotate(-90deg);
  }

  90% {
    transform: translate3d(0, -4px, 0)  rotate(-90deg);
  }
}
@keyframes bounceMd1 {
  from,
  20%,
  53%,
  to {
    transform: translate3d(0, 0, 0) translateX(-50%);
  }

  40%,
  43% {
    transform: translate3d(0, -30px, 0) translateX(-50%);
  }

  70% {
    transform: translate3d(0, -15px, 0) translateX(-50%);
  }

  80% {
    transform: translate3d(0, 0, 0) translateX(-50%);
  }

  90% {
    transform: translate3d(0, -4px, 0) translateX(-50%);
  }
}

//========================================================================================================================================================

.search-directions {
  display: flex;
  align-items: center;
  padding: rem(12);
  border: rem(1) solid #BCBEC0;

  &__input {
    font-weight: 500;
    flex: 1 1 auto;
    width: 100%;
    &:focus {
      outline: none;
      border: none;
    }
  }

  &__icon {
    cursor: pointer;
  }

  &__result {
    color: #878787;
    font-weight: 500;
    font-size: rem(13);
    line-height: 2.15;
    max-width: rem(423);
  }
}

.directions {
  position: relative;
  @include adaptiveValue("padding-top", 137, 40);
  @include adaptiveValue("padding-bottom", 80, 40);

  &__gray {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    background-color: #f9f9f9;
    height: 100%;
    @media (max-width:$mobile){
      display: none;
    }
  }

  &__container {
    position: relative;
    z-index: 2;
  }
  &__searchwrap {
    display: flex;
    flex-direction: column;
    flex: 0 1 rem(530);
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 65, 25);
    }
  }

  &__search {
  }

  &__title {
    line-height: 1.7;
    font-weight: 700;
    @include adaptiveValue("font-size", 25, 20);
  }

  &__body {
  }
}
.tabs-directions {
  display: grid;
  @media (min-width:$mobile){
    grid-template-columns: repeat(2, 1fr);
  }

  &__navigation {
    display: flex;
    @include adaptiveValue("gap", 40, 15);
    align-items: stretch;
    @media (min-width:$mobile){
      flex-direction: column;
    }
    @media (max-width:$mobile){
      padding-bottom: rem(10);
      overflow: auto;
    }
  }

  &__title {
    position: relative;
    display: flex;
    align-items: start;
    line-height: 2;
    gap: rem(25);
    color: #333;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    text-align: left;
    span {
      color: #1047C8;
      font-weight: 700;
      font-size: rem(20);
      line-height: 1.2;
    }
    @media (min-width:$mobile){
      &::after{
        content:'';
        background-color: #CCCEDA;
        height: rem(2);
        flex: 0 0 var(--tabwidth);
        align-self: center;
        margin-left: auto;
        transform-origin: left center;
        transition: transform 0.3s ease 0s;
        transform: translateX(50%) scaleX(0);
        @media (max-width:em(1400)){
          transform: translateX(0) scaleX(0);
        }
      }
    }
    @media (any-hover: hover){
      &:hover{
        color:#000;
        font-weight: 700;
      }
    }
    &._tab-active {
      color:#000;
      font-weight: 700;
      &::after{
        transform: translateX(50%) scaleX(1);
        @media (max-width:em(1400)){
          transform: translateX(0) scaleX(1);
        }
      }
    }
  }

  &__content {
    @include adaptiveValue("padding-left", 150, 0, 1920, 767, 1);
  }

  &__body {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 40, 15);
  }

  &__item {
    display: flex;
    align-items: start;
    gap: rem(20);
  }

  &__image {
    flex: 0 0 rem(35);
    width: auto;
    max-width: rem(32);
    height: rem(32);
    display: flex;
    justify-content:center;align-items: center;
    background-color: $blue;
    transition: all 0.3s ease 0s;
    &_popular {
      // justify-content: start;
      @media (any-hover: hover){
        &:hover{
          max-width: none;
          padding: 0 rem(8);
          gap: rem(7);
          span {
            // transform: none;
            max-width: none;
          }
        }
      }
      span {
        text-transform: uppercase;
        color: #fff;
        font-size: rem(10);
        font-weight: 700;
        transition: all 0.3s ease 0s;
        // transform-origin: left center;
        // transform: scaleX(0);
        max-width: 0;
        overflow: hidden;
      }
    }
  }

  &__text {
    line-height: 1.9;
    font-weight: 500;
  }
}

//========================================================================================================================================================
.advantages {
  background-color: #000;
  color: #fff;

  &__container {
  }

  &__body {
    @include adaptiveValue("padding-top", 120, 30);
    @include adaptiveValue("padding-bottom", 120, 30);
    display: grid;
    gap: rem(30);
    @media (min-width:$mobile){
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__numbers {
  }

  &__text {
  }
}
.numbers-advantages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include adaptiveValue("gap", 50, 20);
  line-height: 1;

  &__item {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    line-height: 1;
  }

  &__number {
    font-weight: 700;
    @include adaptiveValue("font-size", 64, 30);
  }

  &__text {
    font-weight: 600;
    font-size: rem(14);
    text-transform: uppercase;
  }
}
.text-advantages {
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  gap: rem(20);

  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 32, 25);
    &:not(:last-child) {margin-bottom: rem(10);}
  }

  &__text {
    font-size: rem(16);
  }
}

//========================================================================================================================================================

.partners {

  &__container {
    @include adaptiveValue("padding-top", 77, 30);
    @include adaptiveValue("padding-bottom", 100, 30);
  }

  &__head {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 20);
    }
  }

  &__title {
    color: #333;
    font-weight: 700;
    @include adaptiveValue("font-size", 25, 20);
  }

  &__slider {
    position: relative;
    &:not(:last-child) {margin-bottom: rem(40);}
  }

  &__body {
    position: relative;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, rem(125));
    // @include adaptiveValue("gap", 90, 15);
  }

  &__item {
    display: flex;
    justify-content:center;align-items: center;
    align-self: center;
    picture {
      width: 100%;
    }
    img {
      max-width: 100%;
    }
  }

  &__arrows {
    @extend .videocases__arrows;
    .partners__arrow {
      z-index: 2;
      pointer-events: all;
      cursor: pointer;
    }
    .swiper-button-disabled {
      opacity: 0;
    }
  }

  &__pagination {
    @extend .videocases__pagination;
  }
}

//========================================================================================================================================================

.faq {
  &:not(:last-child) {
    @include adaptiveValue("padding-bottom", 215, 75);
  }

  &__container {
    @include adaptiveValue("padding-top", 215, 75);
  }

  &__head {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 25);
    }
  }

  &__title {
  }

  &__body {
    max-width: rem(780);
  }
}
.faq-spollers {

  &__item {
    padding-bottom: rem(30);
    border-bottom: rem(1) solid #D9D9D9;
  }

  &__title {
  }

  &__body {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(20);
  }

  &__text {
    max-width: rem(680);
  }
}
.title-faq {
  display: flex;
  align-items: start;
  @include adaptiveValue("font-size", 15, 13);
  gap: rem(20);
  padding-right: rem(50);
  border: none;
  &._spoller-active {
    color: $blueMain;
  }
  &::before,
  &::after{
    background-color: $blueMain !important;
  }

  &__number {
    font-weight: 700;
    color: $blueMain;
  }

  &__text {
    font-weight: 600;
  }
}

//========================================================================================================================================================

.videocases {

  &__container {
    @include adaptiveValue("padding-bottom", 200, 50);
  }

  &__head {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 25);
    }
  }

  &__title {
  }

  &__body {
  }

  &__slider {
    overflow: visible !important;
    position: relative;
  }

  &__wrapper {
    &:not(:last-child) {margin-bottom: rem(40);}
  }

  &__slide {
    opacity: 0.1;
    transition: all 0.8s ease 0s !important;
    transition-property: all;
    pointer-events: none;
    z-index: 1;
    &.swiper-slide-active {
      z-index: 2;
      opacity: 1;
      pointer-events: all;
    }
  }

  &__arrows {
    display: flex;
    position: absolute;
    align-items: center;
    top: 50%;
    width: 120%;
    left: -10%;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 2;
    .videocases_arrow_prev,
    .videocases_arrow_next {
      z-index: 2;
      pointer-events: all;
      cursor: pointer;
    }
    .swiper-button-disabled {
      opacity: 0;
    }
    @media (max-width:em(1500)){
      transform: none;
      top: auto;
      bottom: 0;
      width: 100%;
      left: 0;
      justify-content: center;
      gap: rem(100);
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(4);
    font-weight: 500;
    .swiper-pagination-total {
      color: #636363;
    }
    @media (max-width:em(1500)){
      height: rem(46);
    }
  }
}
.slide-videocases {
  position: relative;
  padding-bottom: 57%;

  video,
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__control {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;align-items: center;
    img {
      flex: 0 0 rem(70);
      height: rem(70);
    }
  }
}

//========================================================================================================================================================

.news {

  &__container {
    @include adaptiveValue("padding-bottom", 215, 75);
    @include adaptiveValue("padding-top", 200, 50);
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(20);
    flex-wrap: wrap;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 25);
    }
  }

  &__title {
    margin-bottom: 0 !important;
  }

  &__seall {
    font-weight: 500;
    color: $blueMain;
  }
}

//========================================================================================================================================================
.home-reviews {

  &__container {
    @include adaptiveValue("padding-bottom", 200, 30);
  }

  &__head {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 100, 30);
    }
  }

  &__title {
  }

  &__body {
    position: relative;
  }

  &__slider {
  }

  &__wrapper {
  }

  &__slide {
  }
}
.slide-homeReviews {

  &__head {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 45, 20);
    }
  }

  &__date {
    font-weight: 500;
    color: #BCBEC0;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 27, 15);
    }
  }

  &__name {
    font-weight: 600;
    &:not(:last-child) {margin-bottom: rem(15);}
  }

  &__post {
    color: #636363;
  }
  &__body {
    img {
      width: 100%;
    }
    &::before{
      background-color: rgba(0, 0, 0, 0.09);
    }
  }

  &__image {
  }
}

//========================================================================================================================================================
.home-actions {

  &_title {
  }

  &__cnt {
    max-width: rem(1580);
    margin-left: auto;
    display: flex;
    gap: rem(20);
    @media (max-width:$mobile){
      flex-direction: column;
    }
  }

  &__content {
    @include adaptiveValue("padding-top", 160, 0, 1920, 767, 1);
    padding: 0 rem(15);
    @media (min-width:$mobile){
      flex: 0 1 50%;
    }
  }

  &__links {
  }

  &__link {
    border: rem(1) solid $blue;
    color: #fff;
    background-color: $blue;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover{
        background-color: #fff;
        color: $blue;
      }
    }
  }

  &__seall {
    color: $blue;
  }

  &__image {
    @media (min-width:$mobile){
      flex: 0 1 50%;
    }
    img {
      width: 100%;
    }
  }
}