.sertificats {

  &__container {
    display: grid;
    @include adaptiveValue("gap", 60, 20);
    padding-top: rem(30);
    @include adaptiveValue("padding-bottom", 140, 30);
    @media (min-width:$tablet){
      grid-template-columns: rem(360) auto;
    }
  }

  &__sidebar {
  }

  &__body {
  }
}
.interesting {

  &__title {

    &_blue {
      color: $blue;
    }
  }
}

.body-sertificats {
  min-width: 0;

  &__head {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 25);
      .page__partners & {
        margin-bottom: rem(30) !important;
      }
    }
  }

  &__title {
  }

  &__label {
    &:not(:last-child) {margin-bottom: rem(25);}
  }

  &__items {
  }

  &__slider {
  }

  &__wrapper {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 25);
    }
  }

  &__slide {
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: rem(50);
    .swiper-button-prev, .swiper-button-next {
      position: static;
      width: auto;
      height: auto;
      top: auto;
      left: auto;
      right: auto;
      display: block;
      margin-top: 0;
      &::after,
      &::before{
        content:'';
        display: none;
      }
    }
  }

  &__pagination {
    display: flex;
    width: auto !important;
  }
}
.slide-sertificats {

  &__body {
    display: grid;
    @include adaptiveValue("column-gap", 60, 15);
    @include adaptiveValue("row-gap", 50, 15);
    grid-template-columns: repeat(auto-fit, minmax(rem(280), rem(360)));
    justify-content: center;
    @media (min-width:$tablet){
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(10);
    border: rem(1) solid #EBEBEB;
    @include adaptiveValue("padding", 22, 10);
    @include adaptiveValue("padding-top", 40, 10);
    img {
      max-width: rem(240);
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 10, 0);
      }
    }
  }

  &__name {
    color: $grayDark;
  }

  &__size {
    color: #C4C4C4;
  }
}