@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900');

// Подключить если есть локальные файлы шрифтов
//@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Montserrat";
$fontSize: rem(15); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$black: #000;
$mainColor: #282828; // Цвет шрифта по умолчанию
$blue: #1047C8;
$blueMain: #1047C8;
$darkBlue: #192B56;
$grayDark: #23252B;
$gray: rgba(99, 99, 99, 0.5);
$grayMain: #BCBEC0;
$grayish: #D9D9D9;
$grayLight: #F9F9F9;
$white: #fff;

// Grid
$col1: 150;
$col2: 360;
$col3: 570;
$col4: 780;
$colGap: 60;

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1200;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$macBook: em(1439.98);
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
	}
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";
@import "button";
@import "typography";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";
@import "blocks/comment";
@import "blocks/field";
@import "blocks/custom-checkbox";
@import "blocks/evil-accordion";
@import "blocks/tariff";
@import "blocks/sidebar-page";
@import "blocks/feedback";
@import "blocks/badge";
@import "blocks/pagination";
@import "blocks/tariff-unique";
@import "blocks/stage";
@import "blocks/cost";

// Подключение стилей отдельных страниц
@import "home";
@import "cases";
@import "pages/article";
@import "pages/computer";
@import "pages/faq";
@import "pages/news";
@import "pages/history";
@import "pages/tariff";
@import "pages/case";
@import "about";
@import "sertificats";
@import "reviews";
@import "career";
@import "services";
@import "contacts";
@import "command";


.search-page {
	@if ($maxWidthContainer>0) {
		max-width: rem($maxWidthContainer);
		box-sizing: content-box;
		margin: 0 auto;
	}
	@if ($containerPadding>0) {
		padding: 0 rem(math.div($containerPadding, 2));
	}
	padding-top: rem(30);
	@include adaptiveValue("padding-bottom", 200, 50, 1920, 480, 1);
	.text {
		display: inline-block;
		width: 100%;
		&:not(:last-child) {margin-bottom: rem(30);}
	}
	.search-sorting {
		display: flex;
		align-items: center;
		gap: rem(7);
		a,
		b {
			@extend .rectangle_btn;
			background-color: #fff;
			color: #1047C8;
			border: rem(1) solid #1047C8;
			transition: all 0.3s ease 0s;
			line-height: 1;
			@media (any-hover: hover){
				&:hover{
					background-color: #1047C8;
					color: #fff;
				}
			}
		}
		b {
			background-color: #1047C8;
			color: #fff;
		}
	}
}

.content_error {
	@extend .search-page;
	.error_404 {
		display: flex;
		justify-content:center;align-items: center;
		flex-direction: column;
		@include adaptiveValue("gap", 50, 25);
		background-image: url(../img/404.png);
		padding-top: rem(250);
		background-size: auto rem(200);
		background-position: top center;
		background-repeat: no-repeat;
		text-align: center;
		&>span {
			@include adaptiveValue("font-size", 36, 26);
			&>span {
				color: $blue;
				@include adaptiveValue("font-size", 38, 28);
			}
		}
		a {
			@extend .search-button;
		}
	}
}

.search-query {
	padding: rem(10);
	height: 100%;
}
.search-button {
	@extend .rectangle_btn;
	background-color: #1047C8;
	color: #fff;
	border: rem(1) solid #1047C8;
	transition: all 0.3s ease 0s;
	line-height: 1;
	@media (any-hover: hover){
		&:hover{
			background-color: #fff;
			color: $blue;
		}
	}
}